.HeaderLinkActive {
  font-weight: bold;
  text-decoration: underline;
  transition: 1s;
}

.Header {
  background-color: black;
}

.HeaderIndexLink {
  text-decoration: inherit;
  margin: 10px;
  color:white;
}
